/* General Reset */
body, h1, ul, li, a {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body Styling */
body {
	font-family: 'Arial', sans-serif;
	background-color: #f5f7fa;
	color: #333;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

/* Header & Footer */
div[th\:replace] {
	background-color: #1a202c;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
}

/* Title and Labels */
h1 {
	text-align: center;
	font-size: 2.5rem;
	margin: 20px 0;
	color: #2d3748;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.detail {
	background-color: #fff;
	margin: 20px;
	padding: 20px;
}

.detail  label {
	display: block;
	margin: 10px 0 5px;
	font-weight: bold;
	color: #4a5568; /* Neutral gray */
}

/* Paragraphs for Text */
.detail p {
	margin: 5px 0 15px;
	padding: 10px;
	background-color: #f7fafc; /* Light gray for emphasis */
	border: 1px solid #e2e8f0;
	border-radius: 4px;
	font-size: 1rem;
	word-wrap: break-word;
}

/* Buttons and Links */
.detail a {
	display: inline-block;
	text-decoration: none;
	margin: 10px 5px;
	padding: 10px 20px;
	color: #2b6cb0;
	font-size: 1rem;
	transition: color 0.3s ease-in-out;
}

a:hover {
	color: #3182ce;
}

/* Responsive Design */
@media ( max-width : 768px) {
	h1 {
		font-size: 2rem;
	}
	a[href="/posts/new"] {
		padding: 8px 16px;
	}
	li {
		flex-direction: column;
		text-align: center;
	}
	li a {
		margin: 5px 0;
	}
}