@charset "UTF-8";
/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1 {
	margin: 40px;
}

/* Center the sign-in form */
.signin-page {
    background-color: #fff;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Input fields */
.signin-page input[type="text"],
.signin-page input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* Submit button */
.signin-page input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.signin-page input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Sign up link */
a {
    display: inline-block;
    margin-top: 15px;
    margin-left: 40px;
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
